<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Fórum</title>
</head>
<body>
    <div class="body">
        <div class="header">
            <div class="logo">
                <i class="fa fa-stack-overflow"></i>
            </div>
            <div class="search">
                <form onsubmit="event.preventDefault();" role="search">
                    <input id="search" type="text" placeholder="Buscar novos posts" autofocus required />
                    <button type="submit"><i class="fa fa-search"></i></button>    
                </form>
            </div>
            <div class="navigation">
                <div class="nav-buttons" ng-hide="loggedUser">
                    <div class="button-item login-button">
                        <button ng-click="login()" class="primary-button">Entrar</button>
                    </div>
                    <div class="button-item register-button">
                        <button ng-click="cadastro()" class="primary-button">Registre-se</button>
                    </div>
                </div>
                <div class="nav-user" ng-hide="!loggedUser">
                    <i class="user-icon fa fa-user"></i>
                    <i class="user-icon fa fa-sign-out" ng-click="logout()"></i>
                </div>
            </div>
        </div>
        <div class="info">
            
        </div>
        <div class="content">

            <div class="menu">
                <ul>
                    <li ng-repeat="item in menu"><a href="#{{item.link}}">{{item.text}}</a></li>
                </ul>   
            </div>
            
            <div class="posts">
                <div id="inicial">
                    <h1>Inicial</h1>
                    <div ng-repeat="post in publicacoes">
                        <h3>{{post.title}}</h3>
                        <h3>{{post.votes}}</h3>
                    </div>
                </div>

                <div id="perguntas">
                    <h1>Perguntas</h1>
                </div>

                <div id="tags">
                    <h1>Tags</h1>
                </div>

                <div id="usuarios">
                    <h1>Usuários</h1>
                </div>

                <div id="semRespostas">
                    <h1>Sem Respostas</h1>
                </div>

                <script>
                $(document).ready(function(){

                    $('#perguntas, #tags, #usuarios, #semRespostas').hide();

                    $("a").click(function(event) {
                        event.preventDefault();
                        var href = $(this).attr('href');
                        $('#inicial, #perguntas, #tags, #usuarios, #semRespostas').hide();
                        $(href).show();
                    });

                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>