<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Fórum</title>
</head>
<body>
    <div class="body">
        <div class="profile-header">
            <div class="logo">
                <i class="fa fa-stack-overflow"></i>
            </div>
            <div class="search">
                <form onsubmit="event.preventDefault();" role="search">
                    <input id="search" type="text" placeholder="Buscar novos posts" autofocus required />
                    <button type="submit"><i class="fa fa-search"></i></button>    
                </form>
            </div>
            <div class="navigation">
                <div class="nav-buttons" ng-hide="loggedUser">
                    <div class="button-item login-button">
                        <button ng-click="login()" class="default-button">
                            <i class="fa fa-user"></i>
                            Entrar
                        </button>
                    </div>
                    <div class="button-item register-button">
                        <button ng-click="cadastro()" class="default-button">
                            <i class="fa fa-user-plus"></i>
                            Registre-se
                        </button>
                    </div>
                </div>
                <div class="nav-user" ng-hide="!loggedUser">
                    <div class="button-item register-button">
                        <button ng-click="meuPerfil()" class="default-button">
                            <i class="fa fa-user"></i>
                            Meu Perfil
                        </button>
                    </div>
                    <div class="button-item register-button">
                        <button ng-click="logout()" class="default-button">
                            <i class="fa fa-sign-out" ng-click=""></i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="info" ng-hide="postOpened">
            <div class="info-1">
                <p>Contribua para o cenário de desenvolvimento</p>
                <img src="assets/img/contribua.svg" width="100" height="100" alt="">
            </div>
            <div class="info-2">
                <p>Encontre as melhores soluções para os seus problemas</p>
                <img src="assets/img/encontre.svg" width="100" height="100" alt="">
            </div>
            <div class="info-1">
                <p>Cresca com a comunidade de sua linguagem preferida</p>
                <img src="assets/img/construa.svg" width="100" height="100" alt="">
            </div>
        </div>
        <div class="content" ng-class='{ "content-expand": postOpened }'>

            <div class="menu">
                <ul>
                    <li ng-repeat="item in menu" ng-hide="item.link == 'perguntas' && !loggedUser"><a href="#{{item.link}}">{{item.text}}</a></li>
                </ul>   
            </div>
            
            <div class="posts-container">
                <div class="posts">
                    <div class="inicial" ng-class="{ 'inicial-expand': postOpened }" id="inicial">
                        <div ng-hide="postOpened">
                            <h1>Em alta</h1>
                            <div class="inicial-posts" ng-repeat="post in publicacoes" ng-click="openPost(post)" ng-if="post.active == 0">
                                <div class="post-title">
                                    <h1>{{post.title}}</h1>
                                </div>
                                <div class="post-info">
                                    <div class="votes">
                                        <h2>{{post.upvotes / post.downvotes}}</h2>
                                        <p>Rating</p>
                                    </div>
                                    <div class="post-replys">
                                        <h2>5</h2>
                                        <p>Respostas</p>
                                    </div>
                                    <div class="post-tag" ng-if="post.tag">
                                        <p>{{post.tag}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-opened" ng-hide="!postOpened">
                            <div>
                                <h1>{{ actualPost.title }}</h1>
                            </div>
                        </div>
                        <div class="close-post" ng-click="postOpened = false" ng-hide="!postOpened">
                            <i class="fa fa-close"></i>
                        </div>
                    </div>
    
                    <div class="perguntas" style="display: none;" id="perguntas" ng-repeat="pergunta in myperguntas" ng-click="openPost(perguntas)">
                        <div ng-hide="postOpened">
                            <h1>Minhas perguntas</h1>
                            <div class="inicial-posts" ng-repeat="post in publicacoes" ng-click="openPost(post)" ng-if="post.active == 0">
                                <div class="post-title">
                                    <h1>{{post.title}}</h1>
                                </div>
                                <div class="post-info">
                                    <div class="votes">
                                        <h2>{{post.upvotes / post.downvotes}}</h2>
                                        <p>Rating</p>
                                    </div>
                                    <div class="post-replys">
                                        <h2>5</h2>
                                        <p>Respostas</p>
                                    </div>
                                    <div class="post-tag" ng-if="post.tag">
                                        <p>{{post.tag}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-opened" ng-hide="!postOpened">
                            <div>
                                <h1>{{ actualPost.title }}</h1>
                            </div>
                        </div>
                        <div class="close-post" ng-click="postOpened = false" ng-hide="!postOpened">
                            <i class="fa fa-close"></i>
                        </div>
                    </div>

                    <div class="tags" style="display: none;" id="tags">
                        <h1>Tags</h1><br>
                        <div ng-repeat="post in publicacoes" class="post-tag" ng-if="post.tag">
                            <h1>{{post.tag}}</h1><br>
                        </div>
                    </div>
    
                    <div class="usuarios" style="display: none;" id="usuarios">
                        <h1>Usuários</h1>
                    </div>
    
                    <div class="sem-respostas" style="display: none;" id="semRespostas">
                        <h1>Sem Respostas</h1>
                    </div>

                    <div id="post-detail" style="display: none;">                        
                        <h1>{{ title }}</h1><br>
                        <p>{{ content }}</p>
                    </div>
                </div>

                <div class="createPost" ng-hide="postOpened">
                    <button id="myBtn" ng-click="createPost()" class="default-button">
                        <i class="fa fa-plus"></i>
                        Nova Publicação
                    </button>
                </div>

                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <header>
                            <p>Adicionar nova publicação</p>
                            <span class="close">&times;</span>
                        </header>
                        <div style="padding: 15px;">
                            <form onsubmit="event.preventDefault()">
                                <input type="text" ng-model="title" placeholder="Título">
                                <textarea ng-model="content" cols="30" rows="4" placeholder="Descrição"></textarea>
                                <input type="text" ng-model="tag" placeholder="Tag">
                                <button type="submit" ng-click="post()">Criar Post</button>
                            </form>
                        </div>
                    </div>
                  
                </div>

                <script>
                $(document).ready(function() {
                    $("a").click(function(event) {
                        event.preventDefault();
                        var href = $(this).attr('href');
                        $('#inicial, #perguntas, #tags, #usuarios, #semRespostas').hide();
                        $(href).show();
                    });
                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>