<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
</head>
<body>
    <div class="login_body">
        <div class="login_form">
            <div class="login_item">
                <h2 for="">Email ou username</h2>
                <input type="text" name="" id="">
            </div>
            <div class="login_item">
                <h2 for="">Senha</h2>
                <input type="password" name="" id="">
            </div>
        </div>
    </div>
</body>
</html>