<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se no Fórum</title>
</head>
<body>
    <div class="register_body">     
        <div class="register_form">
            <div class="register_item">
                <h2>Nome de Exibição</h2>
                <input type="text" name="name" id="">
            </div>
            <div class="register_item">
                <h2>E-mail</h2>
                <input type="email" name="email" id="">
            </div>
            <div class="register_item">
               <h2>Senha</h2>
                <input type="password" name="senha" id=""> 
            </div>
            <div class="register_item">
                <button>Cadastre-se</button> 
            <div>    
        </div>
    </div>
   
</body>
</html>