<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se no Fórum</title>
    <link rel="stylesheet" href="../css/templates/register.css">
</head>
<body>
    <div class="register_body">     
        <div class="register_form">
            <div class="register_itens">
                <label for="">Nome de Exibição</label>
                <input type="text" name="name" id="">
            </div>
            <div class="register_itens">
                <label for="">E-mail</label>
                <input type="email" name="email" id="">
            </div>
            <div class="register_itens">
                <label for="">Senha</label>
                <input type="password" name="senha" id=""> 
            </div>
                <input type="submit" class="btn"  value="Cadastre-se"> 

        </div>
    </div>
   
</body>
</html>