.register_body {
    display: flex;
    justify-content: center;
    height: 100%;
}
.register_form {
    display: inline-block;
    text-align: center;
    width: 500px;
}
.register_item { 
    width: 90px;
    margin: 28px 0;
}

.remember {
    display: flex;
    justify-content: space-between;
}